<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--程序配置-->
    <add key="AdslName" value="adsl"/>
    <add key="PcName" value="CP96"/>
    <!--是否缩短时间-->
    <add key="TimeDecrease" value="1"/>
    <!--歌曲播放时间-->
    <add key="PlayTimes" value="8"/>
    <!--程序类型-->
    <!--0:IE 1:android -->
    <add key="AppType" value="0"/>
    <!--0:本地数据 1：联网数据-->
    <add key="ServerType" value="0"/>


    <add key="AdslIntervalTime" value="4"/>
    <!--===================================-->
    <!--歌曲播放起止时间,指的是整个PClient-->
    <add key="StartHour" value="0"/>
    <add key="EndHour" value="0"/>
    <!--其下为播放歌曲配置-->
    <!--歌曲列表-->
    <add key="Songs" value="64351841,如果爱上你是一个错,丁亮;68788329,花魁,周旖喆;121899744,一步步,梁汉文"/>


  </appSettings>
</configuration>