<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--客户端相关信息-->
    <add key="PCName" value="cp01"/>
    <!--QQ音乐exe地址-->
    <add key="AppPath" value="C:\Program Files (x86)\Tencent\QQMusic\1133.2014.11.9.0.54.12\QQMusic.exe"/>
    <!--ADSL 相关参数-->
    <add key="ChangeIP" value="0"/>
    <!--是否更换IP 0 false others true-->
    <add key ="ADSLName" value="宽带连接"/>
    <add key="ADSLUserName" value=""/>
    <add key="ADSLPass" value=""/>
    <add key="ChangeIPInterval" value ="3"/>
    <!--拨号间隔时间，防止IP相同-->
    <!--播放设置-->
    <add key="BeforeClk" value="1"/>
    <!--第一次播放时，按动播放快捷键后等待的时间-->
    <add key="AfterClk" value="3500"/>
    <!--点击播放条后等待的时间-->
    <add key ="AllStartTime" value="9:00"/>
    <!--每次播放开始时间-->
    <add key ="PlayTime" value="5:10"/>
    <!--播放时间-->
    <add key ="PlaySongNo" value="60"/>
    <!--播放60首歌曲-->
    <!--测试QQ账户密码-->
    <add key="QQNO" value="2532399905"/>
    <!--【歌曲列表】按钮位置,第2个歌单位置310，每个间隔26-->
    <add key="QQPass" value="shiyuxing521"/>
    <!--第一首歌位置-->
    <add key="QQMusicClientPt" value="300, 170"/>
    <!--下载按钮位置-->
  </appSettings>
</configuration>
