<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--客户端相关信息-->
    <add key="PCName" value="QQClientPC1"/>
    <add key="ChangeIP" value="0"/>
    <!--是否更换IP 0 false others true-->
    <!--QQ音乐exe地址-->
    <add key="AppPath" value="C:\Program Files (x86)\Tencent\QQMusic\1111.2014.8.25.20.22.5\QQMusic.exe"/>
    <!--ADSL 相关参数-->
    <add key ="ADSLName" value="宽带连接"/>
    <add key="ADSLUserName" value=""/>
    <add key="ADSLPass" value=""/>
    <!---->
  </appSettings>
</configuration>