<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="MySqlConnectionStr" value="Data Source=114.215.123.56;Database=qqmusic;User ID=outer;Password=gd[^O01c;Command Logging=false"/>-->
    <add key="MySqlConnectionStr" value="server=114.215.123.56;User Id=outer;password=gd[^O01c;Database=qqmusic"/>
  </appSettings>
</configuration>