<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--软件起作用时间-->
    <add key="StartHour" value="1"/>
    <add key="EndHour" value="23"/>
    <!--参数设置-->
    <add key="App1Path" value=""/>
    <add key="App1Param" value="auto"/>
    <add key="App1ProcessName" value="QQMusicClient"/>
    
    
    <add key="App2Path" value=""/>
    <add key="App2ProcessName" value="QQMusic"/>
    
    <!--判断间隔-->
    <add key="TimerInterval" value="120"/>
  </appSettings>
</configuration>